
/* ========================================================
   CARDS DE JOGOS
   ======================================================== */
.container-jogos {
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

.card {
    box-shadow: 0 4px 8px 0 var(--cor-destaque);
    background-color: var(--bg-card);
    color: var(--cor-texto);
    transition: 0.3s;
    border-radius: 10px;
    width: 25%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 2%;
}

.logoJogo {
    width: 55%;
    border-style: none;
    border-radius: 32px;
}

.card:hover {
    background-color: var(--bg-card-hover);
    transition: 1s;
    animation: pulseShadow 1s infinite alternate;
}

@keyframes pulseShadow {
    100% {
        box-shadow: 0px 10px 10px var(--cor-destaque);
        text-shadow: 0px 0px 30px var(--sombra-media), 0px 0px 30px var(--sombra-media), 0px 0px 30px var(--sombra-fraca);
    }

    50% {
        box-shadow: 0px 7px 7px var(--sombra-media);
        text-shadow: 0px 0px 20px var(--sombra-media), 0px 0px 20px var(--sombra-fraca), 0px 0px 20px var(--cor-destaque);
    }

    0% {
        box-shadow: 0px 5px 5px var(--sombra-fraca);
        text-shadow: 0px 0px 10px var(--sombra-fraca), 0px 0px 10px var(--sombra-media), 0px 0px 10px var(--cor-destaque);
    }
}
